{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock extra_css %}

<div class="">
  {% block content %}

      <h1>{{ page.title }}</h1>

      <div class="intro">{{ page.intro|richtext }}</div>

      {% for post in blogpages %}
          <div class="wrapper">

            <div class="box header"><a href="{% pageurl post %}">{{ post.title }}</a></div>
            <div class="box sidebar"><!--<img src="../media/{{ post.specific.imgMain }}">-->
              {% with post.specific.main_image as main_image %}
                  {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
              {% endwith %}
            </div>
            <div class="box date">{{ post.specific.date }}</div>
            <div class="box content">{{ post.specific.intro }}</div>
          </div>
      {% endfor %}

  {% endblock %}
</div>
