{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block body_class %}template-blogpage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock extra_css %}

    {% block content %}
    <div class="post">
        <img class="imgMain" src="../../media/{{ page.imgMain }}">
        <h1>{{ page.title }}</h1>
        <h2 class="meta">{{ page.date }}</h2>

        {% with categories=page.categories.all %}
          {% if categories %}
              <ul>
                <h3>Posted in</h3>
                {% for cat in categories %}
                  <li style="display: inline">
                    {% image cat.icon fill-32x32 style="vertical-align: middle;" %}
                    {{ cat.name }}
                  </li>

                {% endfor %}
            </ul>
          {% endif %}
        {% endwith%}

        <p class="intro">{{ page.intro }}</p>

        {{ page.body|richtext }}

        <div class="gallery">
        {% for item in page.gallery_images.all %}
         <div style="float: left; margin: 10px">
             {% image item.image fill-300x300 %}
             <p>{{ item.caption }}</p>
         </div>
        {% endfor %}
        </div>

        {% if page.tags.all.count %}
          <div class="tags">
              <h3>Tags</h3>
              {% for tag in page.tags.all %}
                <a href="{% slugurl 'tags'  %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
              {% endfor %}
          </div>
        {% endif %}

        <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>
    </div>
    {% endblock %}
