{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

  {% if request.GET.tag|length %}
    <h4>Showing pages tagged "{{ request.GET.tag }}"</h4>

    {% for bp in blogpages %}
      <p>
        <strong><a href="{% pageurl bp %}">{{ bp.title }}</a></strong><br>
        <small>Revised: {{ bp.latest_revision_created_at }}</small><br>

      </p>

    {% empty %}
      No pages found with "{{ request.GET.tag }}" tag
    {% endfor %}

  {% endif %}

{% endblock %}
