body {
  margin: 40px;
}

.sidebar {
        grid-area: sidebar;
    }

    .date {
            grid-area: date;
        }

    .sidebar2 {
        grid-area: sidebar2;
    }

    .content {
        grid-area: content;
    }

    .header {
        grid-area: header;
    }

    .footer {
        grid-area: footer;
    }

    .wrapper {
  #      background-color: #fff;
  #      color: #444;
  background-color: #ccc;
    }

  .wrapper {
    margin: 20px;
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
     "header"
     "date"
     "sidebar"
     "content"
     "sidebar2"
     "footer"
  }

    @media only screen and (min-width: 500px)  {
    .wrapper {

        grid-template-columns: 20% auto;
        grid-template-areas:
        "header   header"
        "sidebar date content"
        "sidebar2 sidebar2"
        "footer   footer";
    }
    }

    @media only screen and (min-width: 600px)   {
        .wrapper {
      grid-gap: 20px;
            grid-template-columns: 120px 120px auto;
            grid-template-areas:
      "header  header  header"
            "sidebar date content"
            "footer  footer  footer";
            max-width: 80%;
        }
    }

.box {
#  background-color: #444;
#  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 100%;
}

.header,
.footer {
#  background-color: #999;
}

.sidebar2 {
#  background-color: #ccc;
#  color: #444;
}

.box img { width: 100%}

.post {
  display: grid;
  grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 100ch) minmax(1.2rem, 1fr) ;
}

/* position text paragraphs into the second (middle) column */
.post p, .post div, .post h1, .post h2, .post h3, .post ul {
  grid-column: 2;
}

.post .gallery {
grid-column: 1 / 5;
  justify-self: center;

}
/* position images to take up all three columns */
.post img.imgMain {
  grid-column: 1 / 4;
  width: 100%;
  max-width: 100ch;
  justify-self: center;
}
